<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Amapá Shipping</h4>
    </div>
    <div class="modal-body">
      <p>Hot Site da Empresa Amapá Shipping que presta os serviços de Suporte Portuário, Agenciamento de Navios, Operações de Portos e Abastecimento de Navios.</p>
      <p><a href="http://www.amapashipping.com.br" target="_blank" class="btn btn-default">Site Amapá Shipping</a></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
  </div>

</div>