<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Cargo42</h4>
    </div>
    <div class="modal-body">
      <p>A Cargo42 é uma plataforma para conectar entregadores e transportadores de forma rápida e fácil, de maneira segura, otimizando como esses entregadores e transportadores fazem negócio.</p>
      <p><a href="http://www.cargo42.com" target="_blank" class="btn btn-default">Site Cargo42</a></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
  </div>

</div>