<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Controle de Certificados</h4>
    </div>
    <div class="modal-body">
      <p>
      O sistema de Controle de Certificados do SENAI (Pará) é um sistema que ajuda a acompanhar, gerenciar e controlar todo o fluxo de liberação, produção e entrega dos certificados.
      <br/>
      A visão desse produto era poder de maneira rápida e fácil acompanhar todo esse processo para eliminar desperdícios e minimizar erros durante todo o ciclo de emissão e entrega dos certificados, e ainda melhorar a segurança para todos os alunos dos cursos do SENAI no Pará.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
  </div>

</div>