<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Sistema de Atendimento</h4>
    </div>
    <div class="modal-body">
      <p>
      Sistema de Atendimento integrado no BINA que identifica automaticamente o cadastro das pessoas que ligaram agilizando o processo de atendimento do cliente.
      <br/>
      * A imagem mostra o sistema personalizado para a Cooperativa de Táxi Nazaré de Belém - PA.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
  </div>

</div>