<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">GSAN</h4>
    </div>
    <div class="modal-body">
      <p>O Sistema Integrado de Gestão de Serviços e Saneamento (GSAN) tem como finalidade atender às necessidades das empresas e companhias de saneamento no que diz respeito à gestão comercial, financeira e de serviços. A solução integra diversas áreas como contabilidade, operacional e atendimento ao público, possibilitando ao gestor o acesso imediato a informações analíticas ou consolidadas, resultando em mais agilidade na tomada de decisões e execução dos processos de negócio.
      <br/>
      O GSAN é um software é livre e foi desenvolvido e disponibilizado pelo Ministério das Cidades, com o seguinte objetivo: "Sistema integrado de gestão de serviços de saneamento, desenvolvido com o objetivo de elevar o nível de desempenho e eficiência das empresas nacionais de abastecimento de água e coleta de esgotos." (Fonte: Portal do Software Público Brasileiro).</p>
      <p><a href="https://github.com/prodigasistemas/gsan/wiki" target="_blank" class="btn btn-default">Projeto GSAN</a></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
  </div>

</div>