<div class="container-out container-dark" id="projects">

  <div class="title title-section">
    <h2>Nossos Clientes</h2>
    <span class="sticker">
      <i class="icon icomoon-quill"></i>
    </span>
  </div><!-- .title.title-section -->

</div><!-- .container-out -->

<div class="container-out container-full-width">

  <div class="grid-wrap">
    <section id="portfolio" class="grid" data-columns="4">
      <article class="project project-animated illustration design">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/marinha.jpg" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like"></span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Marinha</h2>
            <p class="desc"></p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated illustration photography">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/zerbini.jpg" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like"></span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Fundação Zerbini</h2>
            <p class="desc"></p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated illustration animation">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/foton.png" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like"></span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Fóton Informática</h2>
            <p class="desc"></p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated animation web">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/logoprodepa.png" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like">18</span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">PRODEPA</h2>
            <p class="desc">Fóton</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated illustration photography">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/hospital.png" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like"></span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Hospital Dom Antonio de Alvarenga</h2>
            <p class="desc"></p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated photography">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/Senai.png" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like"></span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">SENAI</h2>
            <p class="desc"></p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated illustration web animation">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/basa.jpg" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like"></span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Banco da Amazônia</h2>
            <p class="desc">Fóton</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated design">
        <div class="project-heading">
          <div class="">
            <img src="/assets/cosanpa.jpg" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like"></span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">COSANPA</h2>
            <p class="desc">FADESP</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article>
      <article class="project project-animated design">
        <div class="project-heading">
          <div class="">
            <img src="/assets/sefa.png" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like"></span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">SEFA</h2>
            <p class="desc">FADESP</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article>
      <article class="project project-animated design">
        <div class="project-heading">
          <div class="">
            <img src="/assets/CDP.jpg" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like"></span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">COMPANHIA DOCAS DO PARÁ</h2>
            <p class="desc">FADESP</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article>
      <article class="project project-animated design">
        <div class="project-heading">
          <div class="">
            <img src="/assets/barros.jpg" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like"></span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Hospital Barros Barreto</h2>
            <p class="desc">FADESP</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article>
      <article class="project project-animated design">
        <div class="project-heading">
          <div class="">
            <img src="/assets/bettina.png" width="150" height="150" alt="Image">
          </div>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like"></span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Hospital Betina Ferrus</h2>
            <p class="desc">FADESP</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
    </section><!-- #portfolio -->
  </div>

</div>