<div class="container-out container-light" id="projects">
  <div class="title title-section">
    <h2>Projetos Atuais</h2>
    <p>Esses são os projetos que o Time tem trabalhado ultimamente. </p>
    <span class="sticker">
      <i class="icon icomoon-user"></i>
    </span>
  </div><!-- .title.title-section -->
</div><!-- .container-out -->

<div class="container-out">
  <hr class="devider-heavy devider-margin-big">
  <div class="row">
    <%= render 'pages/project', projects: @projects %>
  </div>
</div><!-- .container-out -->