<div class="container-out container-dark" id="projects">

  <div class="title title-section">
    <h2>Our beautiful projects</h2>
    <p>Proin malesuada justo sed lobortis dapibus.</p>
    <span class="sticker">
      <i class="icon icomoon-quill"></i>
    </span>
  </div><!-- .title.title-section -->

</div><!-- .container-out -->

<div class="container-out container-full-width">

  <div class="project-filter animated" data-grid="#portfolio">
    <div class="container">
      <ul>
        <li class="selector"></li>
        <li><a data-categories="*" class="active">All</a></li>
        <li><a data-categories="animation">Animation</a></li>
        <li><a data-categories="design">Design</a></li>
        <li><a data-categories="illustration" class="">Illustration</a></li>
        <li><a data-categories="photography">Photography</a></li>
        <li><a data-categories="web">Web</a></li>
      </ul>
      <p><b>Sorted by:</b> <span class="project-filter-current">All</span></p>
    </div>
  </div><!-- .project-filter -->

  <div class="grid-wrap">
    <section id="portfolio" class="grid" data-columns="4">
      <article class="project project-animated illustration design">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/uploads/images/content/image_L.jpg" alt="Image">
          </div>
          <ul class="project-action">
            <li><a class="lightbox btn btn-icon-view" href="/assets/uploads/images/content/image.jpg" data-fancybox-title="<h4>Pellentesque auctor</h4><p>Maecenas quam quam, bibendum sit amet mauris sit amet, dapibus lobortis felis. Ut auctor interdum est, sit amet imperdiet ante convallis sed.</p><p class='text-right'><a href='portfolio-single.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
            <li><a class="link btn btn-icon-link" href="portfolio-single.html"></a></li>
          </ul>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like">48</span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Pellentesque auctor</h2>
            <p class="desc">consectetur adipiscing elit</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated illustration photography">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/uploads/images/content/image_L.jpg" alt="Image">
          </div>
          <ul class="project-action">
            <li><a class="lightbox btn btn-icon-view" href="/assets/uploads/images/content/image.jpg" data-fancybox-title="<h4>Pellentesque auctor nuncnunc nunc</h4><p>Fusce rutrum posuere felis sit amet suscipit. Ut lectus lorem, adipiscing ut lacinia a, suscipit vitae ipsum. Suspendisse malesuada justo ut odio sodales commodo.</p><p class='text-right'><a href='portfolio-single.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
            <li><a class="link btn btn-icon-link" href="portfolio-single.html"></a></li>
          </ul>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like">26</span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Pellentesque auctor nuncnunc nunc</h2>
            <p class="desc">eu commodo risus</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated illustration animation">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/uploads/images/content/image_L.jpg" alt="Image">
          </div>
          <ul class="project-action">
            <li><a class="lightbox btn btn-icon-view" href="/assets/uploads/images/content/image.jpg" data-fancybox-title="<h4>Quisque</h4><p>Nullam vitae lorem eu orci convallis adipiscing at non elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p><p class='text-right'><a href='portfolio-single.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
            <li><a class="link btn btn-icon-link" href="portfolio-single.html"></a></li>
          </ul>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like">5</span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Quisque</h2>
            <p class="desc">ut sapien tempus</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated animation web">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/uploads/images/content/image_L.jpg" alt="Image">
          </div>
          <ul class="project-action">
            <li><a class="lightbox btn btn-icon-view" href="/assets/uploads/images/content/image.jpg" data-fancybox-title="<h4>Nunc tincidunt</h4><p>Aenean pharetra commodo ipsum, quis consequat ante iaculis id. Donec ac dui vestibulum, dignissim nunc vitae, iaculis quam.</p><p class='text-right'><a href='portfolio-single.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
            <li><a class="link btn btn-icon-link" href="portfolio-single.html"></a></li>
          </ul>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like">18</span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Nunc tincidunt</h2>
            <p class="desc">mi non suscipit consectetur</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated illustration photography">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/uploads/images/content/image_L.jpg" alt="Image">
          </div>
          <ul class="project-action">
            <li><a class="lightbox btn btn-icon-view" href="/assets/uploads/images/content/image.jpg" data-fancybox-title="<h4>Mauris luctus pulvinar</h4><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean rhoncus id dui et auctor. Nulla vehicula enim purus, vitae elementum ante vulputate.</p><p class='text-right'><a href='portfolio-single.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
            <li><a class="link btn btn-icon-link" href="portfolio-single.html"></a></li>
          </ul>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like">37</span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Mauris luctus pulvinar</h2>
            <p class="desc">felis nec</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated photography">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/uploads/images/content/image_L.jpg" alt="Image">
          </div>
          <ul class="project-action">
            <li><a class="lightbox btn btn-icon-view" href="/assets/uploads/images/content/image.jpg" data-fancybox-title="<h4>Aenean auctor</h4><p>Suspendisse eget condimentum elit. Vestibulum dignissim cursus pulvinar. Suspendisse tempus eget enim nec euismod. Ut pharetra justo sed adipiscing pretium.</p><p class='text-right'><a href='portfolio-single.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
            <li><a class="link btn btn-icon-link" href="portfolio-single.html"></a></li>
          </ul>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like">58</span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Aenean auctor</h2>
            <p class="desc">erat in purus</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated illustration web animation">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/uploads/images/content/image_L.jpg" alt="Image">
          </div>
          <ul class="project-action">
            <li><a class="lightbox btn btn-icon-view" href="/assets/uploads/images/content/image.jpg" data-fancybox-title="<h4>Aenean</h4><p> Maecenas dapibus euismod nunc vel condimentum. Suspendisse dapibus fermentum tempor.</p><p class='text-right'><a href='portfolio-single.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
            <li><a class="link btn btn-icon-link" href="portfolio-single.html"></a></li>
          </ul>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like">11</span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Aenean</h2>
            <p class="desc">auctor erat in</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
      <article class="project project-animated design">
        <div class="project-heading">
          <div class="thumbnail">
            <img src="/assets/uploads/images/content/image_L.jpg" alt="Image">
          </div>
          <ul class="project-action">
            <li><a class="lightbox btn btn-icon-view" href="/assets/uploads/images/content/image.jpg" data-fancybox-title="<h4>Vestibulum tristique</h4><p>Fusce eget condimentum quam. Vestibulum nec sapien odio. Etiam vel neque et tortor molestie vehicula ornare mollis tortor. Quisque in scelerisque diam.</p><p class='text-right'><a href='portfolio-single.html' class='btn'>View project</a></p>" data-fancybox-group="portfolio"></a></li>
            <li><a class="link btn btn-icon-link" href="portfolio-single.html"></a></li>
          </ul>
        </div><!-- .project-heading -->
        <div class="project-content">

          <p class="meta">
            <span class="meta-like">4</span>
          </p><!-- .meta -->
          <div class="title">
            <h2 class="h5">Vestibulum tristique</h2>
            <p class="desc">nisl eu urna hendrerit</p>
          </div><!-- .title -->

        </div><!-- .project-content -->
      </article><!-- .project -->
    </section><!-- #portfolio -->
  </div>

</div>