<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Controle de Produção</h4>
    </div>
    <div class="modal-body">
      <p>
      O sistema de controle de produção foi desenvolvido para atender as necessidades de gerenciamento e controle do fluxo de produção realizados pelo SENAI - Pará. Trazendo um sistema leve, com interface WEB responsiva para fácil uso por dispositivos móveis e gráficos interativos que apresentam as informações de maneira rápida para apoio a tomada de decisão.
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
  </div>

</div>