        <div class="container-out container-light" id="team">

          <div class="title title-section">
            <h2>Our Team</h2>
            <p>Aliquam at quam nec lectus luctus dictum.</p>
            <span class="sticker">
              <i class="icon icomoon-user"></i>
            </span>
          </div><!-- .title.title-section -->

        </div><!-- .container-out -->
        <div class="container-out">
          <hr class="devider-heavy devider-margin-big">
          <div class="row">
            <div class="col-sm-4" data-animate="flipInY">

              <div class="member">
                <div class="member-heading">

                  <a class="userpic" href="page-user.html">
                    <span class="btn btn-icon-user"></span>
                    <img src="/assets/uploads/images/members/member.jpg" alt="Member">
                  </a>

                  <ul class="social animation animation-from-right">
                    <li><a href="#" class="google"></a></li>
                    <li><a href="#" class="twitter"></a></li>
                    <li><a href="#" class="facebook"></a></li>
                  </ul>

                  <div class="title">
                    <h4><a href="page-user.html">Daniel Anderson</a></h4>
                    <p>Developer</p>
                  </div>

                </div><!-- .member-heading -->
                <div class="member-content">

                  <div class="text">
                    <p>Nam sit amet interdum enim, sit amet tempor dui. Morbi dapibus diam ac nisi aliquet feugiat. Ut rutrum risus nec massa volutpat ullamcorper. Mauris vulputate non eros viverra ultricies. Aenean luctus gravida ante vitae dignissim. Curabitur malesuada euismod ligula, ac mollis lacus tempus at.</p>
                    <p class="like">Donec quis massa et neque.</p>
                  </div>

                </div><!-- .member-content -->
              </div><!-- .member -->

            </div><!-- .col-sm-4 -->
            <div class="col-sm-4" data-animate="flipInY">

              <div class="member">
                <div class="member-heading">

                  <a class="userpic" href="page-user.html">
                    <span class="btn btn-icon-user"></span>
                    <img src="/assets/uploads/images/members/member.jpg" alt="Member">
                  </a>

                  <ul class="social animation animation-from-right">
                    <li><a href="#" class="google"></a></li>
                    <li><a href="#" class="twitter"></a></li>
                    <li><a href="#" class="facebook"></a></li>
                  </ul>

                  <div class="title">
                    <h4><a href="page-user.html">Jane Johnson</a></h4>
                    <p>SEO</p>
                  </div>

                </div><!-- .member-heading -->
                <div class="member-content">

                  <div class="text">
                    <p>In non placerat tortor, ac venenatis est. Donec diam tellus, molestie id consectetur nec, pharetra quis velit. Nunc viverra felis scelerisque massa gravida, quis posuere eros molestie. Maecenas malesuada neque cursus iaculis euismod. Etiam fringilla rutrum ullamcorper.</p>
                    <p class="like">Aenean ligula elit, tempus.</p>
                  </div>

                </div><!-- .member-content -->
              </div><!-- .member -->

            </div><!-- .col-sm-4 -->
            <div class="col-sm-4" data-animate="flipInY">

              <div class="member">
                <div class="member-heading">

                  <a class="userpic" href="page-user.html">
                    <span class="btn btn-icon-user"></span>
                    <img src="/assets/uploads/images/members/member.jpg" alt="Member">
                  </a>

                  <ul class="social animation animation-from-right">
                    <li><a href="#" class="google"></a></li>
                    <li><a href="#" class="twitter"></a></li>
                    <li><a href="#" class="facebook"></a></li>
                  </ul>

                  <div class="title">
                    <h4><a href="page-user.html">Tony Wilson</a></h4>
                    <p>Designer</p>
                  </div>

                </div><!-- .member-heading -->
                <div class="member-content">

                  <div class="text">
                    <p>Ut commodo, nisl et imperdiet dignissim, arcu ligula tristique tellus, vel mattis sapien justo et neque. In ut pharetra diam, in posuere libero. Donec sed nunc leo. In ut sapien sem. Maecenas ut nisl vel lectus pulvinar faucibus commodo vitae turpis. Cras vitae fermentum augue. Maecenas convallis fermentum nunc vitae pharetra.</p>
                    <p class="like">Duis nibh est, fermentum</p>
                  </div>

                </div><!-- .member-content -->
              </div><!-- .member -->

            </div><!-- .col-sm-4 -->
          </div><!-- .row -->
        </div><!-- .container-out -->