        <div class="container-out container-light" id="team">
          <div class="title title-section">
            <h2>Nosso Time</h2>
            <p>Nosso maior diferencial não são as ferramentas e técnicas que utilizamos e sim as pessoas que fazem parte desse Time e que tornam isso possível. </p>
            <span class="sticker">
              <i class="icon icomoon-user"></i>
            </span>
          </div><!-- .title.title-section -->
        </div><!-- .container-out -->

        <div class="container-out">
          <hr class="devider-heavy devider-margin-big">
          <div class="row">
            <%= render 'pages/members', members: @members %>
          </div>
        </div><!-- .container-out -->
