        <div class="container-out container-light" id="team">
          <div class="title title-section">
            <h2>Nosso time</h2>
            <p>"Coming together is a beginning. Keeping together is progress. Working together is success." (Henry Ford)</p>
            <span class="sticker">
              <i class="icon icomoon-user"></i>
            </span>
          </div><!-- .title.title-section -->
        </div><!-- .container-out -->

        <div class="container-out">
          <hr class="devider-heavy devider-margin-big">
          <div class="row">
            <%= render 'pages/members', members: @members %>
          </div>
        </div><!-- .container-out -->