<div class="title title-section">
  <h2>What people say about us?</h2>
  <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.</p>
  <span class="sticker">
    <i class="icon fa fa-thumbs-o-up"></i>
  </span>
</div><!-- .title.title-section -->

<div data-animate="flipInX">
  <div class="testimonial-wrap">
    <div class="testimonial-outer">
      <ul class="testimonial" data-auto="true">
        <li>
          <div class="testimonial-content">

            <div class="text">
              <p>Imperdiet euismod bibendum orci leo cras sagittis aenean tincidunt feugiat vehicula, fringilla condimentum pharetra eu hendrerit tempor pharetra justo integer</p>
            </div>

          </div><!-- .testimonial-content  -->
          <div class="testimonial-heading">

            <div class="title">
              <h4>John Doe</h4>
              <p class="position">Microsoft</p>
            </div>

          </div><!-- .testimonial-heading  -->
        </li>
        <li>
          <div class="testimonial-content">

            <div class="text">
              <p>Sit senectus eget facilisis eu hendrerit purus consequat, adipiscing eget scelerisque mauris tempor bibendum, a netus tincidunt donec etiam luctus</p>
            </div>

          </div><!-- .testimonial-content  -->
          <div class="testimonial-heading">

            <div class="title">
              <h4>Mary Smith</h4>
              <p class="position">themeforest</p>
            </div>

          </div><!-- .testimonial-heading  -->
        </li>
        <li>
          <div class="testimonial-content">

            <div class="text">
              <p>Viverra egestas aliquam metus justo risus himenaeos nisl, cubilia vulputate diam purus taciti etiam, massa tortor est tellus sagittis lobortis</p>
            </div>

          </div><!-- .testimonial-content  -->
          <div class="testimonial-heading">

            <div class="title">
              <h4>Daniel Anderson</h4>
              <p class="position">apple</p>
            </div>

          </div><!-- .testimonial-heading  -->
        </li>
        <li>
          <div class="testimonial-content">

            <div class="text">
              <p>Porta fermentum cras dolor duis tempus enim rhoncus, orci mi pharetra curabitur augue urna, eu odio sem platea habitant ut</p>
            </div>

          </div><!-- .testimonial-content  -->
          <div class="testimonial-heading">

            <div class="title">
              <h4>Jane Johnson</h4>
              <p class="position">google</p>
            </div>

          </div><!-- .testimonial-heading  -->
        </li>
      </ul><!-- .testimonial -->
    </div><!-- .testimonial-outer -->
    <div class="testimonial-pagi"></div>
  </div><!-- .testimonial-wrap -->

</div>