<div class="modal-dialog">
  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">uRadiu</h4>
    </div>
    <div class="modal-body">
      <p>
      Um novo conceito de jukebox, com tudo que você precisa para gerenciar as músicas e os pedidos de seus clientes.
      <br/>
      Se você tem um local como bares, restaurantes, barbearias, salões de beleza, lojas, festas, ou qualquer lugar que tenha música e queira interagir de uma forma diferente com os seus clientes, o uRadiu é a solução.
      </p>
      <p><a href="http://www.uradiu.com.br" target="_blank" class="btn btn-default">uRadiu</a></p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
  </div>

</div>