
  <div id="home"></div>
  <header id="header">
    <div class="navbar megamenu-width">
      <div class="container">


        <div class="navbar-inner">

          <a href="index.html" class="logo">
            <img src="/assets/prodiga-01.png" alt="Jets">
          </a><!-- .logo -->

          <ul id="mobile-menu">
            <li>
              <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-reorder"></i>
              </button>

              <!-- <a class="btn-navbar" href="#"><i class="fa fa-reorder"></i></a> -->
            </li>

          </ul><!-- #mobile-menu -->

          <ul id="main-menu" class="collapse navbar-collapse nav slide custom">
            <li class="active"><a href="#home">Home<span>Vamos começar por aqui</span></a>
            </li>
            <li><a href="#services">Serviços<span>O que nós oferecemos?</span></a></li>
            <li><a href="#about">Sobre nós<span>Quem somos?</span></a></li>
            <li><a href="#team">Conheça o time<span>Pessoas extraordinárias</span></a></li>
           <!-- <li><a href="#projects">Nossos projetos<span>Nossos melhores trabalhos</span></a></li> -->
            <li><a href="#contact">Contate-nos<span>Nos dê um toque</span></a></li>
          </ul><!-- #main-menu -->

        </div><!-- .navbar-inner -->

      </div><!-- .container -->
    </div><!-- .navbar -->
  </header><!-- #header -->

  <div class="page-slider-wrap">
    <div id="page-slider" >
      <ul>
        <li data-transition="zoomout" data-masterspeed="1300">

          <!-- MAIN IMAGE -->
          <img src="/assets/image2.png"  alt="bg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

          <!-- LAYER NR. 1 -->
          <div class="tp-caption slider-title text-right sfl" data-x="right" data-hoffset="-15" data-y="top" data-voffset="130" data-speed="1000" data-start="500" data-easing="Back.easeInOut" data-endspeed="300" style="color:#083f68">Simplicidade e Soluções Inovadoras</div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption slider-sub-title text-right sfl" data-x="right" data-hoffset="-15" data-y="center" data-speed="1100" data-start="600" data-easing="Back.easeInOut" data-endspeed="300" style="color:#FFFFFF">Melhore sua produtividade, negócio<br/> e status com nossos serviços</div>

          <!-- LAYER NR. 3 -->
          <a href="#services" class="tp-caption sfb btn btn-big text-right" data-x="right" data-hoffset="-15" data-y="bottom" data-voffset="-130" data-speed="1000" data-start="700" data-easing="Back.easeInOut" data-endspeed="300" style="color:#52c7e5">Mais</a>

        </li>
        <li data-transition="zoomout" data-masterspeed="1300">

          <!-- MAIN IMAGE -->
          <img src="/assets/image3.jpg"  alt="bg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

          <!-- LAYER NR. 1 -->
          <div class="tp-caption slider-title text-center sft" data-x="center" data-y="center" data-voffset="-140" data-speed="1000" data-start="500" data-easing="Power1.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="color:#fff">Experimente o novo!</div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption slider-sub-title text-center sfl" data-x="center" data-y="center" data-speed="800" data-start="600" data-easing="Power1.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="color:#fff">Nós utilizamos o que tem de mais moderno em tecnologias <br /> e métodos de planejamento de projetos</div>

          <!-- LAYER NR. 3 -->
          <a href="#about" class="tp-caption sfb btn btn-big" data-x="center" data-y="center" data-voffset="140" data-speed="1000" data-start="700" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="color:#182035">Mais</a>

        </li>
        <li data-transition="zoomout" data-masterspeed="1300">

          <!-- MAIN IMAGE -->
          <img src="/assets/image3.jpeg"  alt="bg"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

          <!-- LAYER NR. 1 -->
          <div class="tp-caption slider-title sfr" data-x="15" data-y="top" data-voffset="130" data-speed="800" data-start="700" data-easing="Back.easeInOut" data-endspeed="300" style="color:#d4deed">Desenvolvimento ágil</div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption slider-sub-title sfl" data-x="15" data-y="center" data-speed="1000" data-start="800" data-easing="Back.easeInOut" data-endspeed="300" style="color:#ecc5a8">Desenvolvemos produtos incríveis com agilidade correndo em nossas veias</div>

          <a href="#team" class="tp-caption sfr btn btn-big" data-x="15" data-y="bottom" data-voffset="-130" data-speed="800" data-start="900" data-easing="Power3.easeInOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="color:#1a3e83">Mais</a>

        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
  </div><!-- .page-slider-wrap -->

  <div id="page-content" role="main">
    <div class="container">
      <div id="content">

        <!--          -->
        <!-- SERVICES -->
        <!--          -->
        <div class="container-out container-light" id="services">

          <div class="title title-section">
            <h2>Nossos serviços</h2>
            <p>Desenvolvemos, juntamente com nossos clientes, produtos incríveis</p>
            <span class="sticker">
              <i class="icon fa fa-gear"></i>
            </span>
          </div><!-- .title.title-section -->

        </div><!-- .container-out -->
        <div class="container-out">
          <div class="row">
            <div class="col-sm-4" data-animate="bounceInLeft">

              <div class="iconbox iconbox-style3 iconbox-">
                <div class="iconbox-heading">
                  <div class="icon">
                    <i class="fa fa-html5 fa-1x"></i>
                  </div>
                  <div class="title">
                    <h4>Desenvolvimento de software</h4>
                  </div>
                </div><!-- .iconbox-heading -->
                <div class="iconbox-content">
                  <div class="text">
                    <p>Utilizamos as melhores tecnologias disponíveis no mercado para promover um desenvolvimento com entregas rápidas e de alta qualidade</p>

                  </div>
                </div><!-- .iconbox-content -->
              </div><!-- .iconbox -->

            </div><!-- .col-sm-4 -->
            <div class="col-sm-4" data-animate="bounceInDown">

              <div class="iconbox iconbox-style3">
                <div class="iconbox-heading">
                  <div class="icon">
                    <i class="fa fa-briefcase fa-1x"></i>
                  </div>
                  <div class="title">
                    <h4>Consultoria</h4>
                  </div>
                </div><!-- .iconbox-heading -->
                <div class="iconbox-content">
                  <div class="text">
                    <p>Auxiliamos sua organização a encontrar as melhores soluções seja em software ou em processos</p>

                  </div>
                </div><!-- .iconbox-content -->
              </div><!-- .iconbox -->

            </div><!-- .col-sm-4 -->
            <div class="col-sm-4" data-animate="bounceInRight">

              <div class="iconbox iconbox-style3">
                <div class="iconbox-heading">
                  <div class="icon">
                    <i class="fa fa-key"></i>
                  </div>
                  <div class="title">
                    <h4>Desenvolvimento de Produtos</h4>
                  </div>
                </div><!-- .iconbox-heading -->
                <div class="iconbox-content">
                  <div class="text">
                    <p>Auxiliamos nossos clientes no processo de descoberta de seu produto com o auxílio de nosso time com larga experiência em desenvolvimento ágil e conceitos de lean startup</p>

                  </div>
                </div><!-- .iconbox-content -->
              </div><!-- .iconbox -->

            </div><!-- .col-sm-4 -->
          </div><!-- .row -->

        <!--          -->
        <!-- ABOUT US -->
        <!--          -->
        <div class="container-out container-dark" id="about">

          <div class="title title-section">
            <h2>Quem somos?</h2>
            <p></p>
            <span class="sticker">
              <i class="icon icomoon-checkmark"></i>
            </span>
          </div><!-- .title.title-section -->

        </div><!-- .container-out -->
        <div class="container-out container-image" style="background-image:url(/assets/section1.jpeg)">
          <div class="row">
            <div class="col-sm-7" data-animate="fadeInLeft">

              <div class="title">
                <h2 class="h3">Nossa filosofia</h2>
              </div>
              <div class="text">
                <h4>Nossa Missão</h4>
                <p>A Pródiga Sistemas tem por tradição garantir resultados, cumprir prazos
                e fornecer soluções tecnicamente modernas, adequadas à
                realidade dos negócios. Procuramos agregar valor aos negócios
                de nossos clientes, desenhando, desenvolvendo e
                implantando soluções criativas e de alta qualidade,
                baseadas nas mais modernas tecnologias.</p>

                <h4>Nossos Valores</h4>
                <p>Esta é a principal marca dos projetos realizados pela Pródiga Sistemas. E essa qualidade é resultado de um conjunto de fatores, como competência técnica, parcerias estratégicas e, sobretudo, constante preocupação com o conhecimento do negócio de cada um de nossos clientes.</p>
              </div>

            </div><!-- .col-sm-7 -->
            <div class="col-sm-5">

              <div class="title">
                <h2 class="h3">Objetivos</h2>
              </div>

              <div data-animate="fadeInRight">
                <div class="iconbox iconbox-style1 iconbox-list">
                  <div class="iconbox-heading">
                    <div class="icon">
                      <span>1</span>
                    </div>
                  </div><!-- .iconbox-heading -->
                  <div class="iconbox-content">
                    <div class="title">
                      <h5>Inovação Permanente</h5>
                    </div>
                    <div class="text">
                      <p>Trabalhamos no contínuo aperfeiçoamento e atualização de toda a empresa, a fim de aplicarmos tecnologias de ponta no desenvolvimento de nossos produtos e serviços.</p>

                    </div>
                  </div><!-- .iconbox-content -->
                </div><!-- .iconbox -->

              </div>
              <div data-animate="fadeInRight">
                <div class="iconbox iconbox-style1 iconbox-list">
                  <div class="iconbox-heading">
                    <div class="icon">
                      <span>2</span>
                    </div>
                  </div><!-- .iconbox-heading -->
                  <div class="iconbox-content">
                    <div class="title">
                      <h5>Foco Interno em Peopleware</h5>
                    </div>
                    <div class="text">
                      <p> Trabalhamos com uma equipe de profissionais altamente qualificados, capazes de oferecer serviços diferenciados.</p>

                    </div>
                  </div><!-- .iconbox-content -->
                </div><!-- .iconbox -->

              </div>
              <div data-animate="fadeInRight">
                <div class="iconbox iconbox-style1 iconbox-list">
                  <div class="iconbox-heading">
                    <div class="icon">
                      <span>3</span>
                    </div>
                  </div><!-- .iconbox-heading -->
                  <div class="iconbox-content">
                    <div class="title">
                      <h5>Compromisso com Resultados!</h5>
                    </div>
                    <div class="text">
                      <p>Temos como meta a satisfação de nossos clientes, que se tornam, assim, nosso maior canal de divulgação.</p>

                    </div>
                  </div><!-- .iconbox-content -->
                </div><!-- .iconbox -->

              </div>

              <div data-animate="fadeInRight">
                <div class="iconbox iconbox-style1 iconbox-list">
                  <div class="iconbox-heading">
                    <div class="icon">
                      <span>3</span>
                    </div>
                  </div><!-- .iconbox-heading -->
                  <div class="iconbox-content">
                    <div class="title">
                      <h5>Pontualidade no Cumprimento de Prazos</h5>
                    </div>
                    <div class="text">
                      <p>Buscamos excelência no atendimento e procuramos garantir a qualidade de nossos serviços através de soluções eficazes, com custos operacionais adequados e rigoroso cumprimento dos prazos acordados.</p>

                    </div>
                  </div><!-- .iconbox-content -->
                </div><!-- .iconbox -->

              </div>

            </div><!-- .col-sm-5 -->
          </div><!-- .row -->


        </div><!-- .container-out -->

        <!--          -->
        <!-- OUR TEAM -->
        <!--          -->
        <%= render "pages/team" %>

        <!--          -->
        <!-- PROJECTS -->
        <!--          -->

        <%#= render "pages/projects" %>

        <!--            -->
        <!-- CONTACT US -->
        <!--            -->
        <div class="container-out container-dark" id="contact">

          <div class="title title-section">
            <h2>Contato</h2>
            <p>Dúvidas sobre como podemos ajudá-lo? Não hesite em entrar em contato, estamos aguardando.</p>
            <span class="sticker">
              <i class="icon icomoon-home3"></i>
            </span>
          </div><!-- .title.title-section -->
        </div><!-- .container-out -->
        <div class="container-out container-full-width">
          <%= render 'pages/contact' %>
        </div>
      </div><!-- #content -->
    </div><!-- .container -->
  </div><!-- #page-content -->

  <footer id="footer">
    <div class="container">
      <hr class="devider-heavy" />
      <ul class="nav text-center">
        <li><a href="index.html">Home</a></li>
        <li><a href="#services">Serviços</a></li>
        <li><a href="#about">Sobre nós</a></li>
        <li><a href="#time">Conheça o time</a></li>
        <li><a href="#contact">Contate-nos</a></li>
      </ul>
      <hr class="devider-heavy" />
      <div class="row-inline-wrap">
        <div class="row row-inline">
          <div class="col-md-7">

            <ul class="touch">
              <li><i class="fa icomoon-location"></i><p>Rua Angelo Custódio 728A<br />Cidade Velha</p></li>
              <li><i class="fa fa-phone"></i><p>(91) 3038-8821<br />(91) 3038-8824 </p></li>
              <li>
                <i class="fa fa-envelope"></i>
                <p>
                  <a href="mailto: contato@prodigasistemas.com.br">
                    contato@prodigasistemas.com.br
                  </a>
                </p>
              </li>
            </ul>

          </div><!-- .col-md-7 -->
          <div class="col-md-5">

          </div><!-- .col-md-5 -->
        </div><!-- .row -->
      </div><!-- .row-inline-wrap -->
    </div><!-- .container -->
    <div class="credits">Pródiga Sistemas © 2015</div>
  </footer>
